<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Book</title>
<link rel="stylesheet" href="{{url_for('static',filename='book.css')}}">
</head>
<body>
  <div class="sidebar">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Librarum Logo" class="logo">
      <nav>
          <ul>
              <li><a href="#">Library</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="{{url_for('logout')}}">Log Out</a></li>
          </ul>
      </nav>
  </div>
  <div class="container">
    <div class="header">
      <h1>{{title}}</h1>
      <img src="{{image_source}}" alt="Book Cover" class="cover-image">
    </div>
  
    <div class="trip-details">
      <h2>{{author}}</h2>
      <p><strong>Дата выхода: </strong>{{pdate}}</p>
      <p><strong>Жанр: </strong>{{genre}}</p>
      <p> {{description}}</p>
      <a href="{{link}}">Go to read!</a>
    </div>
  </div>
  </body>
  </html>